:root {
  --size-8: 8px;
  --size-16: 16px;
  --size-24: 24px;
  --size-32: 32px;
  --text-alt: #808080;
  --font: 14px;
  --font-sm: 12px;
}

html, body {
  padding: 0;
  margin: 0;
  font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
}
